.main {
  background-color: #3b3c3f;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.score {
  font-size: 70px;
  display: flex;
  gap: 30px;
  margin: 50px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.points {
  display: flex;
  font-size: 70px;
  display: flex;
  gap: 30px;
  margin: 50px;
  justify-content: center;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-rock {
  background-image: url(/images/rock.png);
  background-color: #3b3c3f;
  width: 350px;
  height: 350px;
}
.button-paper {
  background-image: url(/images/paper.png);
  background-color: #3b3c3f;
  width: 350px;
  height: 350px;
}
.button-scissor {
  background-image: url(/images/scissor.png);
  background-color: #3b3c3f;
  width: 350px;
  height: 350px;
}
